[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
